# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
venv/

# Training artifacts
checkpoints/

# Data files (too large for GitHub, download/generate separately)
data/poems_dataset.csv
data/poetry_corpus.txt
data/corpus_luc_bat.txt
data/doi_tho_corpus.txt
data/poetry_corpus_combined.txt
data/doi_tho_test.txt

# Generated models (created by scripts)
tokenizer/poetry_bpe.model

# System files
.DS_Store

# Frontend
client/frontend/node_modules/
data/poems_copy.csv
